<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<title>Mu Online</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=1240, maximum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/swiper.min.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/slick-theme.css" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="top-panel flex-c-c">
					<ul class="menu flex-c-c">
						<li class="active"><a href="">Home</a></li>
						<li><a href="">Rgistration</a></li>
						<li><a href="">FORUM</a></li>
						<li><a href="">Guilds</a></li>
						<li><a href="">Players</a></li>
						<li><a href="">About</a></li>
					</ul>
				<div class="topPanel__buttons flex">
					<a href="#login-login" class="open_modal button">Log In</a>
					<a href="#resister" class="open_modal buttonDark">Sign Up</a>
				</div>
			</div><!-- top-panel -->
			<div class="logo">
				<a href="/"><img src="images/logo-1.png" alt=""></a>
			</div>
            <div class="sparks-sparks">
	            <div class="sparks sparks-1">
				</div>
				<div class="sparks sparks-2">
				</div>
				<div class="sparks sparks-3">
				</div>
			</div> 
			<div class="smog">
                <i class="num1"></i>
                <i class="num2"></i>
                <i class="num3"></i>
            </div>
		</header><!-- .header-->
			<main class="content">
				<div class="fast-button">
					<div class="download-block">
						<a href="download.html"><span>DOWNLOAD</span><br><p>Game client 1.45Gb</p></a>
					</div><!-- DOWNLOAD-block -->
					<div class="status-block">
						<div class="server">
							<div class="flex-s-c">
								<span class="server-name">SERVER NAME</span> <span class="status-online">Online:</span>
							</div>
							<div class="progress-bar">
								<span style="width: 70%;"></span>
							</div>
							<a href="" class="desc">Server Description</a> <span class="status-online">3546</span>
						</div>
					</div>
					<div class="status-block">
						<div class="server-bottom">
							<div class="flex-s-c">
								<span class="server-name">SERVER NAME</span> <span class="status-offline">Offline:</span>
							</div>
							<div class="progress-bar-off">
								<span style="width: 1%;"></span>
							</div>
							<a href="" class="desc">Server Description</a> <span class="status-offline">0</span>
						</div>
					</div>	
				</div>
				<div class="page-content">
					<div class="page-top">
						News
					</div>
					<div class="page-title flex-s-c">
						<span class="page-title-news">NEWS title - title ror the new page!</span>
						<span class="page-title-time">12.10.2019</span>
					</div>
					<div class="page-text">
						<div class="page-text-img" style="background-image: url(images/page-text-img.jpg);"></div>
						War broke out between kingdoms. Wild animals turn into raging animals and the dead return to life, craving for blood. Fight with the dark influence of the Metin Stones as one of the allies of the Dragon. Collect all your strengths and take your weapons to protect the... War broke out between kingdoms. Wild animals turn into raging animals and the dead return to life, craving for blood. Fight with the dark influence of the Metin Stones as one of the allies of the Dragon. Collect all your strengths and take your weapons to protect the... War broke out between kingdoms. Wild animals turn into raging animals and the dead return to life, craving for blood. Fight with the dark influence of the Metin Stones as one of the allies of the Dragon. Collect all your strengths and take your weapons to protect the...<br><br>

War broke out between kingdoms. Wild animals turn into raging animals and the dead return to life, craving for blood. Fight with the dark influence of the Metin Stones as one of the allies of the Dragon. Collect all your strengths and take your weapons to <a href="">protect</a> the...<br><br>

War broke out between kingdoms. Wild animals turn into raging animals and the dead return to life, craving for blood. Fight with the dark influence of the Metin Stones as one of the allies of the Dragon. Collect all your strengths and take your weapons to protect the... War broke out between kingdoms. Wild animals turn into raging animals and the dead return to life, craving for blood. Fight with the dark influence of the Metin Stones as one of the allies of the Dragon. Collect all your strengths and take your weapons to protect the... War broke out between kingdoms. Wild animals turn into raging animals and the dead return to life, craving for blood. Fight with the dark influence of the Metin Stones as one of the allies of the Dragon. Collect all your strengths and take your weapons to protect the...<br><br>

War broke out between kingdoms. Wild animals turn into raging animals and the dead return to life, craving for blood. Fight with the dark influence of the Metin Stones as one of the allies of the Dragon. Collect all your strengths and take your <a href="">weapons</a> to <a href="">protect</a> the...<br><br>
						<ul>
							<li>War broke out between kingdoms. Wild animals</li>
							<li>War broke out between kingdoms. Wild animals</li>
							<li>War broke out between kingdoms. Wild animals</li>
							<li>War broke out between kingdoms. Wild animals</li>
						</ul>
						<br>
						<table>
							<tbody>
								<tr>
									<td>Table #1</td> <td>Table #2</td> <td>Table #3</td> <td>Table #4</td>
								</tr>
								<tr>
									<td>1</td> <td>2</td> <td>3</td> <td>4</td>
								</tr>
								<tr>
									<td>Server1</td> <td>Table #2</td> <td>Table #3</td> <td>Table #4</td>
								</tr>
								<tr>
									<td>1</td> <td>2</td> <td>3</td> <td>4</td>
								</tr>
								<tr>
									<td>Server1</td> <td>Table #2</td> <td>Table #3</td> <td>Table #4</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div><!--page content-->
				<!--block-MEDIA-->	
					<div class="content-last-news">
						<div class="last-news-top">
							MEDIA
							<a href="">all media</a>
						</div>
						<div class="media-fon">
							<section class="center slick-slider">
								<div class="slick-slider-slide">
									<a href=""><img src="images/media-img-1.jpg" alt=""></a>
								</div>
								<div class="slick-slider-slide">
									<a href=""><img src="images/media-img-2.jpg" alt=""></a>
								</div>
								<div class="slick-slider-slide">
									<a href=""><img src="images/media-img-3.jpg" alt=""></a>
								</div>
								<div class="slick-slider-slide">
									<a href=""><img src="images/media-img-3.jpg" alt=""></a>
								</div>
							</section>
						</div>
					</div>		
			</main><!-- .content -->
		<footer class="footer">
			<div class="toTop-fon">
					<div class="toTop" id="toTop"></div>
				</div>
			<div class="footer-block-t">
				<ul class="f-menu">
					<li><a href="">Home</a></li>
					<li><a href="">Registration</a></li>
					<li><a href="">players</a></li>
					<li><a href="">guilds</a></li>
					<li><a href="">discussions</a></li>
					<li><a href="">forum</a></li>
					<li><a href="">About us</a></li>
				</ul>
			</div><!-- footer-block-t -->
			<div class="footer-end flex-s-c">
				<div class="footer-block-coperite">
					<span>Copyright 2019 © <a href="/">koleos.com</a></span><br><br>
					<span>This site is in no way associated with <br>or endorsed by Webzen Inc.</span>
				</div>
				<div class="footer-logo"><a href="/"><img src="images/logo-footer.png" alt=""></a></div>
				<div class="footer-block-r">
					<div class="soc-block">
						<a href="" class="facebook"><img src="images/soc-icons_f.png" alt=""></a>
						<a href="" class="twitter"><img src="images/soc-icons_t.png" alt=""></a>
						<a href="" class="youtube"><img src="images/soc-icons_y.png" alt=""></a>
					</div>
					<div class="templstock"><a href="https://templstock.com/" title="Game Site Templates - High quality PSD Templates, WordPress themes, HTML templates and Free game templates." class="templstock a"><img src="images/templ-logo.png" alt=""></a>
					</div>
				</div>
			</div>
		</footer><!-- .footer -->
	</div><!-- .wrapper -->
	<div id="resister" class="modal_div"> 
		<span class="modal_close"></span>
        <div class="modal-content">
        	<div class="logo-re"><a href="/"><img src="images/logo-1-reg.png" alt=""></a></div>
        	<h2><span>Registration</span></h2>
        	<form>
        		<p><input class="input-re" type="text" name="login" placeholder="USERNAME"></p>
        		<p><input class="input-re" type="password" name="pass" placeholder="PASSWORD"></p>
        		<p><input class="input-re" type="password" name="re-pass" placeholder="CONFIRM PASSWORD"></p>
        		<p><input class="input-re" type="text" name="mail" placeholder="EMAIL"></p>
        		<div class="formButton">
        			<button class="button">Sign In</button>
        		</div>
        	</form>
        </div> 
	</div>
	<div id="login-login" class="modal_div"> 
		<span class="modal_close"></span>
        <div class="modal-content">
        	<div class="logo-re"><a href="/"><img src="images/logo-1-reg.png" alt=""></a></div>
        	<h2><span>Login</span></h2>
        	<form>
        		<p><input class="input-re" type="text" name="login" placeholder="USERNAME"></p>
        		<p><input class="input-re" type="password" name="pass" placeholder="PASSWORD"></p>
        		<div class="formButton">
        			<button class="button">Login</button>
        		</div>
        	</form>
        </div> 
	</div>
	<!-- Video Modal -->
	<div id="overlay"></div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/global.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/slick.min.js"></script>
	<script>
		$('.center').slick({
		  infinite: true,
		  centerMode: true,
		  centerPadding: '50px 30px',
		  slidesToShow: 3,
		  slidesToScroll: 3
		});
	</script>
</body>
</html>