/*sparks*/

.sparks-sparks {
  left: 550px;
  position: absolute;
  top: 800px;
}

.sparks-1 {
  background-image: url('./images/sparks-1.png');
  width: 117px;
  height: 136px;
  right: 200px;
  bottom: 0px;
  background-position: left 0px bottom 0px;
  animation-name: sparks-1;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.sparks-2 {
  background-image: url('./images/sparks-2.png');
  width: 219px;
  height: 176px;
  right: 200px;
  bottom: 30px;
  background-position: left 0px bottom 0px;
  animation-name: sparks-2;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  opacity: 0;
}

.sparks-3 {
  background-image: url('./images/sparks-3.png');
  width: 438px;
  height: 281px;
  right: 100px;
  bottom: 20px;
  background-position: left 0px bottom 0px;
  animation-name: sparks-3;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes sparks-1 {
  0% {
      right: 200px;
      bottom: 10px;
      opacity: 0;
  }
  33% {
      right: 210px;
      bottom: 20px;
      opacity: 0.5;
      transform: scale(1.1);
  }
  70% {
      right: 220px;
      bottom: 30px;
      opacity: 1;
      transform: scale(1.1);
  }
  100% {
      right: 230px;
      bottom: 40px;
      opacity: 0;
      transform: scale(1.1);
  }
}

@keyframes sparks-2 {
  0% {
      right: 210px;
      bottom: 40px;
      opacity: 0;
  }
  33% {
      right: 220px;
      bottom: 50px;
      opacity: 0.5;
      transform: scale(1.1);
  }
  70% {
      right: 230px;
      bottom: 60px;
      opacity: 1;
      transform: scale(1.1);
  }
  100% {
      right: 240px;
      bottom: 70px;
      opacity: 0;
      transform: scale(1.1);
  }
}

@keyframes sparks-3 {
  0% {
      right: 120px;
      bottom: 30px;
      opacity: 0;
  }
  33% {
      right: 140px;
      bottom: 50px;
      opacity: 0.5;
      transform: scale(1.1);
  }
  70% {
      right: 160px;
      bottom: 70px;
      opacity: 1;
      transform: scale(1.1);
  }
  100% {
      right: 180px;
      bottom: 90px;
      opacity: 0;
      transform: scale(1.1);
  }
}

.sparks {
  background-repeat: no-repeat;
  background-position: left 0px bottom 0px;
  position: absolute;
}


/*end sparks*/