html {
    font-size: 62.5%;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    /* This will not allow padding and borders to be added to the dimensions of the boxes */
}

body {
    padding: 0;
    margin: 0;
}